*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
